[submodule "/Users/BLUE/.vim/bundle/Vundle.vim"]
	path = /Users/BLUE/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/Users/BLUE/.vim/bundle/Vundle"]
	path = /Users/BLUE/.vim/bundle/Vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-bufferline"]
	path = bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vimshell.vim"]
	path = bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "bundle/Conque-Shell.vim"]
	path = bundle/Conque-Shell.vim
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/vim-indentt-guides.vim"]
	path = bundle/vim-indentt-guides.vim
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/vimprj.vim"]
	path = bundle/vimprj.vim
	url = https://github.com/vim-scripts/vimprj.git
[submodule "bundle/DfrankUtil.vim"]
	path = bundle/DfrankUtil.vim
	url = https://github.com/vim-scripts/DfrankUtil.git
[submodule "bundle/indexer.vim"]
	path = bundle/indexer.vim
	url = https://github.com/vim-scripts/indexer.tar.gz.git
[submodule "bundle/nerdcommenter.vim"]
	path = bundle/nerdcommenter.vim
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-fswitch.vim"]
	path = bundle/vim-fswitch.vim
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "bundle/vim-protodef.vim"]
	path = bundle/vim-protodef.vim
	url = https://github.com/derekwyatt/vim-protodef.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/ctrlsf.vim"]
	path = bundle/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule "bundle/vim-multiple-cursors.vim"]
	path = bundle/vim-multiple-cursors.vim
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "VimDoc/amix-vimrc"]
	path = VimDoc/amix-vimrc
	url = https://github.com/amix/vimrc.git
[submodule "VimDoc/vgod-vimrc"]
	path = VimDoc/vgod-vimrc
	url = https://github.com/vgod/vimrc.git
[submodule "VimDoc/janus-vimrc"]
	path = VimDoc/janus-vimrc
	url = https://github.com/carlhuda/janus.git
[submodule "VimDoc/akitaonrails"]
	path = VimDoc/akitaonrails
	url = https://github.com/akitaonrails/vimfiles.git
[submodule "VimDoc/s90198123"]
	path = VimDoc/s90198123
	url = https://github.com/s90198123/vimfiles.git
[submodule "bundle/YankRing.vim"]
	path = bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/mru.vim"]
	path = bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle/vim-surround.vim"]
	path = bundle/vim-surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "VimDoc/spf13-vim"]
	path = VimDoc/spf13-vim
	url = https://github.com/spf13/spf13-vim.git
[submodule "bundle/DoxygenToolkit.vim"]
	path = bundle/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-tmux-navigator.vim"]
	path = bundle/vim-tmux-navigator.vim
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/undotree.vim"]
	path = bundle/undotree.vim
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/vim-signify.vim"]
	path = bundle/vim-signify.vim
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vim-ctrlspace.vim"]
	path = bundle/vim-ctrlspace.vim
	url = https://github.com/vim-ctrlspace/vim-ctrlspace.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/Mark-and-Highlight.vim"]
	path = bundle/Mark-and-Highlight.vim
	url = https://github.com/vim-scripts/BOOKMARKS--Mark-and-Highlight-Full-Lines.git
